<!DOCTYPE html>
<html>

<head>
  <title>Layout</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <div>
    <div class="bg-white border-b border-gray-200">
      <header class="">
        <nav class="flex items-center justify-between max-w-full px-5 pt-3 mx-auto sm:px-6">
          <div class="flex items-center md:space-x-1.5">
            <a href="#" class="hidden sm:flex">
              <svg class="h-5" viewBox="0 0 76 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.5274 0L75.0548 65H0L37.5274 0Z" fill="#000000" /></svg>
            </a>
            <span class="hidden sm:flex">
              <svg viewbox="0 0 32 32" stroke="currentColor" class="w-5 h-5 text-gray-200">
                <line x1="8" y1="28" x2="22" y2="4" />
              </svg>
            </span>
            <span class="inline-flex items-center space-x-0.5 lg:space-x-1 text-sm leading-5 font-medium">
              <a href="#" class="inline-flex items-center space-x-2">
                <span class="inline-flex items-center">
                  <!-- <img src="https://pbs.twimg.com/profile_images/1543653015663656962/CfULw_uQ_400x400.jpg" alt="" class="w-5 h-5 border border-gray-200 rounded-full"> -->
                  <button
                    class="w-5 h-5 rounded-full bg-gradient-to-r from-blue-700 to-green-400 md:h-4 md:w-4"></button>
                </span>
                <span>nislexotic</span>
                <span class="items-center hidden px-2 bg-gray-200 text-2xs md:inline-flex rounded-xl">Hobby</span>
              </a>
              <button type="button"
                class="inline-flex items-center px-1 py-2 transition duration-200 ease-in-out border border-transparent rounded-md hover:border-gray-300 hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                  stroke="currentColor" class="w-5 h-5 text-gray-500">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
              </button>
            </span>
          </div>
          <div class="flex space-x-2 items-cente sm:space-x-4">
            <div class="items-center hidden space-x-4 sm:flex">
              <button type"button" id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch" data-dropdown-placement="bottom"
                class="cursor-text px-3 py-1.5 text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out border border-gray-200 rounded-md hover:border-black">
                Feedback
              </button>

<div id="dropdownSearch" class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow w-80 dark:bg-gray-700">
    <div class="p-2">
      <label for="input-group-search" class="sr-only">Search</label>
        <textarea type="text" id="input-group-search" class="block w-full h-24 p-2 text-sm text-gray-900 border border-gray-200 rounded-md focus:ring-0 focus:border-black hover:border-black" placeholder="Your feedback..."></textarea>
    <div class="inline-flex items-center mt-2">
    <button class="px-3 py-1.5 text-sm font-medium text-center text-white transition duration-150 ease-in-out bg-black rounded-md hover:bg-gray-800">Send</button>
    <span class="ml-2 text-sm text-gray-500">Markdown enabled.</span>
    </div>
    </div>
    
</div>
              
              <a href="#"
                class="text-sm leading-5 text-gray-600 transition duration-200 ease-in-out hover:text-black">Changelog</a>
              <a href="#"
                class="text-sm leading-5 text-gray-600 transition duration-200 ease-in-out hover:text-black">Help</a>
              <a href="#"
                class="text-sm leading-5 text-gray-600 transition duration-200 ease-in-out hover:text-black">Docs</a>
            </div>
            <!-- more button -->
            <button id="dropdownMore" data-dropdown-toggle="more"
              class="hidden p-1 text-gray-500 transition duration-150 ease-in-out rounded-full sm:inline-flex sm:items-center hover:border-black">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M4.5 12a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm6 0a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm6 0a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                  clip-rule="evenodd" />
              </svg>
            </button>
            <!-- Dropdown menu more -->
            <div id="more"
              class="z-10 hidden bg-white border border-gray-200 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 aria-labelledby="dropdownMore">
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100">Settings</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100">Earnings</a>
                </li>
              </ul>
            </div>


            <!-- user button -->
            <span class="inline-flex items-center">
              <button id="dropdownMobile" data-dropdown-toggle="mobile" class="p-1 border rounded-full sm:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-5 h-5 text-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                </svg>
              </button>

              <div id="mobile"
                class="z-10 hidden w-64 bg-white border border-gray-200 divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div>Bonnie Green</div>
                  <div class="font-medium truncate">name@flowbite.com</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMobile">
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Earnings</a>
                  </li>
                </ul>
                <div class="px-4 py-4">
                  <a href="#">
                    <span
                      class="block w-full px-4 py-2 font-medium text-center text-white transition duration-150 ease-in-out bg-black rounded-md hover:bg-gray-800">
                      Sign out
                    </span>
                  </a>
                </div>
              </div>

              <button id="dropdownProfile" data-dropdown-toggle="profile"
                class="hidden rounded-full sm:flex bg-gradient-to-r from-blue-700 to-green-400 h-7 w-7"></button>
            </span>

            <div id="profile"
              class="z-10 hidden w-64 bg-white border border-gray-200 divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownProfile">
                <li>
                  <span class="block px-4 py-2">nilsd@me.com</span>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100">New Team</a>
                </li>
              </ul>
              <div class="px-4 py-4">
                <a href="#">
                  <span
                    class="block w-full px-4 py-2 font-medium text-center text-white transition duration-150 ease-in-out bg-black rounded-md hover:bg-gray-800">
                    Sign out
                  </span>
                </a>
              </div>
            </div>

          </div>
        </nav>
        <div class="pt-1">
          <nav class="flex px-5 -mb-px space-x-5 overflow-x-auto text-sm leading-5">
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-black text-gray-800 hover:text-black active:text-black transition ease-in-out duration-150">Overview</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Integrations</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Activity</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Domains</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Usage</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Monitoring</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Storage</a>
            <a href="#"
              class="py-3 px-0.5 border-b-2 border-transparent text-gray-500 hover:text-black transition ease-in-out duration-150">Settings</a>
          </nav>
        </div>
      </header>
      <%= yield %>
    </div>
  </div>

<div class="px-6 pt-6 mx-auto max-w-7xl">
sdsd
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>